Repository tektoncd/operator, pull requests merged in 2020-08, with the labels that each got.

#127 Add pipelines v0.15.0
  Makefile
  cmd/manager/kodata/resources/addons/dashboard/v0.1.1/release.yaml
  cmd/manager/kodata/resources/addons/dashboard/v0.2.0/release.yaml
  cmd/manager/kodata/resources/addons/dashboard/v0.6.1/release.yaml
  cmd/manager/kodata/resources/addons/dashboard/v0.8.2/tekton-dashboard-release.yaml
  cmd/manager/kodata/resources/addons/trigger/v0.1.0/release.yaml
  cmd/manager/kodata/resources/addons/trigger/v0.2.1/release.yaml
  cmd/manager/kodata/resources/addons/trigger/v0.4.0/release.yaml
  cmd/manager/kodata/resources/addons/trigger/v0.5.0/release.yaml
  cmd/manager/kodata/resources/addons/trigger/v0.6.0/release.yaml
  cmd/manager/kodata/resources/addons/trigger/v0.7.0/release.yaml
  cmd/manager/kodata/resources/pipelines/v0.15.0/release.yaml
  cmd/manager/kodata/resources/v0.10.0/release.yaml
  cmd/manager/kodata/resources/v0.11.0/release.yaml
  cmd/manager/kodata/resources/v0.13.0/release.yaml
  cmd/manager/kodata/resources/v0.14.0/release.yaml
  cmd/manager/kodata/resources/v0.5.2/release.yaml
  cmd/manager/kodata/resources/v0.6.0/release.yaml
  cmd/manager/kodata/resources/v0.7.0/release.yaml
  cmd/manager/kodata/resources/v0.8.0/release.yaml
  cmd/manager/kodata/resources/v0.9.0/release.yaml
  config/crds/operator_v1alpha1_addon_dashboard_cr.yaml
  config/crds/operator_v1alpha1_addon_trigger_cr.yaml
  config/role.yaml
  pkg/controller/pipeline/pipeline_controller.go
  test/testsuites/addon_install_pipeline.go
Labels: approved, lgtm, release-note, size/XXL

#129 Add TektonPipelines v0.15.1
  cmd/manager/kodata/resources/pipelines/v0.15.1/release.yaml
  pkg/controller/pipeline/pipeline_controller.go
Labels: approved, lgtm, release-note, size/M

#128 Remove duplicate import paths and update readme
  README.md
  pkg/controller/addon/addon_controller.go
  pkg/controller/pipeline/pipeline_controller.go
Labels: approved, lgtm, release-note, size/M

#130 Add build tag to e2e tests and update README …
  Makefile
  README.md
  cmd/manager/kodata/resources/addons/dashboard/openshift-v0.8.2/openshift-tekton-dashboard-release.yaml
  docs/README.md
  docs/images/tekton-dashboard-v0.8.2-pipelinerunlogs.png
  docs/images/tekton-dashboard-v0.8.2-pipelineruns.png
  test/e2e/main_test.go
Labels: approved, lgtm, release-note-none, size/XL

#132 Fix kubectl command in Readme.md
  README.md
Labels: approved, lgtm, release-note-none, size/XS

#134 Add pipelines v0.15.2 payload
  cmd/manager/kodata/resources/pipelines/v0.15.2/release.notags.yaml
  pkg/controller/pipeline/pipeline_controller.go
Labels: approved, lgtm, release-note, size/M
