Repository tektoncd/operator, pull requests merged in 2025-01, with the labels that each got.

#2480 Update ecosystem task version to fix buildah issue
  hack/openshift/fetch-tektoncd-catalog-tasks.sh
Labels: approved, lgtm, size/S, release-note

#2439 Update TektonConfig CR's addon params to remove cluster tasks params
  pkg/apis/operator/v1alpha1/const.go
  pkg/apis/operator/v1alpha1/tektonaddon_default_test.go
  pkg/apis/operator/v1alpha1/tektonaddon_validation.go
  pkg/apis/operator/v1alpha1/tektonconfig_default_test.go
  pkg/reconciler/shared/tektonconfig/upgrade/pre_upgrade.go
  pkg/reconciler/shared/tektonconfig/upgrade/upgrade.go
  test/e2e/common/00_tektonconfigdeployment_test.go
Labels: approved, lgtm, size/M, release-note

#2482 fix: avoid panic when upgrading pipeline in tektonconfig
  pkg/reconciler/shared/tektonconfig/upgrade/pre_upgrade.go
  pkg/reconciler/shared/tektonconfig/upgrade/pre_upgrade_test.go
Labels: approved, lgtm, size/M, release-note, ok-to-test

#2491 Fix ghcr.io auth in release
  .gitignore
  Makefile
  tekton/build-publish-images-manifests.yaml
  test/presubmit-tests.sh
Labels: approved, lgtm, size/S, release-note-none

#2494 fix: resolve panic issue in script when label is specified during bundle build
  operatorhub/tools/bundle.py
Labels: approved, size/XS, lgtm, release-note-none, ok-to-test

#2468 refactor namespace reconciliation to ensure openshift rbac requisites
  pkg/reconciler/common/utils.go
  pkg/reconciler/common/utils_test.go
  pkg/reconciler/openshift/tektonconfig/extension.go
  pkg/reconciler/openshift/tektonconfig/rbac.go
Labels: approved, lgtm, release-note-none, ok-to-test, size/L

#2518 fix: get tektonconfig version from label
  test/e2e-common.sh
Labels: approved, size/XS, lgtm, release-note-none, ok-to-test

#2517 fix(e2e): resolve instability issues in end-to-end tests
  test/e2e/common/05_tektonhubdeployment_test.go
  test/resources/deployment.go
  test/resources/pod.go
  test/resources/tektonconfigs.go
Labels: approved, lgtm, size/M, release-note-none, ok-to-test

#2486 bump patch version to release 0.74.1
  charts/tekton-operator/Chart.yaml
  charts/tekton-operator/templates/kubernetes-crds.yaml
  charts/tekton-operator/templates/openshift-crds.yaml
  cmd/kubernetes/operator/kodata/webhook/webhook.yaml
  cmd/openshift/operator/kodata/cabundles/config-service-cabundle.yaml
  cmd/openshift/operator/kodata/cabundles/config-trusted-cabundle.yaml
  cmd/openshift/operator/kodata/webhook/webhook.yaml
  config/base/300-operator_v1alpha1_chain_crd.yaml
  config/base/300-operator_v1alpha1_config_crd.yaml
  config/base/300-operator_v1alpha1_hub_crd.yaml
  config/base/300-operator_v1alpha1_installer_set_crd.yaml
  config/base/300-operator_v1alpha1_manualapprovalgate_crd.yaml
  config/base/300-operator_v1alpha1_pipeline_crd.yaml
  config/base/300-operator_v1alpha1_result_crd.yaml
  config/base/300-operator_v1alpha1_trigger_crd.yaml
  config/base/config-info.yaml
  config/base/operator.yaml
  config/kubernetes/base/300-operator_v1alpha1_dashboard_crd.yaml
  config/kubernetes/base/operator.yaml
  config/kubernetes/base/operator_service.yaml
  config/kubernetes/base/webhook.yaml
  config/openshift/base/300-operator_v1alpha1_addon_crd.yaml
  config/openshift/base/300-operator_v1alpha1_openshiftpipelinesascode_crd.yaml
  config/openshift/base/operator.yaml
  config/openshift/base/operator_service.yaml
  config/openshift/base/webhook.yaml
  config/webhooks/webhook-config-leader-election.yaml
  config/webhooks/webhook-service.yaml
  config/webhooks/webhook.yaml
Labels: approved, lgtm, release-note, size/L

#2530 bump patch version to release 0.73.2
  charts/tekton-operator/Chart.yaml
  charts/tekton-operator/templates/openshift-crds.yaml
  cmd/kubernetes/operator/kodata/webhook/webhook.yaml
  cmd/openshift/operator/kodata/cabundles/config-service-cabundle.yaml
  cmd/openshift/operator/kodata/cabundles/config-trusted-cabundle.yaml
  cmd/openshift/operator/kodata/webhook/webhook.yaml
  config/base/300-operator_v1alpha1_chain_crd.yaml
  config/base/300-operator_v1alpha1_config_crd.yaml
  config/base/300-operator_v1alpha1_hub_crd.yaml
  config/base/300-operator_v1alpha1_installer_set_crd.yaml
  config/base/300-operator_v1alpha1_manualapprovalgate_crd.yaml
  config/base/300-operator_v1alpha1_pipeline_crd.yaml
  config/base/300-operator_v1alpha1_result_crd.yaml
  config/base/300-operator_v1alpha1_trigger_crd.yaml
  config/base/config-info.yaml
  config/base/operator.yaml
  config/kubernetes/base/300-operator_v1alpha1_dashboard_crd.yaml
  config/kubernetes/base/operator.yaml
  config/kubernetes/base/operator_service.yaml
  config/kubernetes/base/webhook.yaml
  config/openshift/base/300-operator_v1alpha1_addon_crd.yaml
  config/openshift/base/300-operator_v1alpha1_openshiftpipelinesascode_crd.yaml
  config/openshift/base/operator.yaml
  config/openshift/base/operator_service.yaml
  config/openshift/base/webhook.yaml
  config/webhooks/webhook-config-leader-election.yaml
  config/webhooks/webhook-service.yaml
  config/webhooks/webhook.yaml
Labels: approved, lgtm, release-note, size/L

#2533 move chart images to ghcr.io
  .ko.yaml
  charts/tekton-operator/templates/_helpers.tpl
  charts/tekton-operator/values.yaml
  config/kubernetes/base/operator.yaml
  config/openshift/base/operator.yaml
  operatorhub/kubernetes/config.yaml
  operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  tekton/build-publish-images-manifests.yaml
  tekton/operator-release-pipeline.yaml
Labels: approved, lgtm, size/S, release-note

#2534 move chart images to ghcr.io
  .ko.yaml
  charts/tekton-operator/templates/_helpers.tpl
  charts/tekton-operator/values.yaml
  config/kubernetes/base/operator.yaml
  config/openshift/base/operator.yaml
  operatorhub/kubernetes/config.yaml
  operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  tekton/build-publish-images-manifests.yaml
  tekton/operator-release-pipeline.yaml
Labels: size/M, release-note

#2535 move chart images to ghcr.io
  .ko.yaml
  charts/tekton-operator/templates/_helpers.tpl
  charts/tekton-operator/values.yaml
  config/kubernetes/base/operator.yaml
  config/openshift/base/operator.yaml
  operatorhub/kubernetes/config.yaml
  operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
  tekton/build-publish-images-manifests.yaml
  tekton/operator-release-pipeline.yaml
Labels: size/S, release-note

#2538 restore pruner sha with ghcr.io
  charts/tekton-operator/values.yaml
  config/kubernetes/base/operator.yaml
  config/openshift/base/operator.yaml
  operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
Labels: size/XS, release-note

#2539 restore pruner sha with ghcr.io
  charts/tekton-operator/values.yaml
  config/kubernetes/base/operator.yaml
  config/openshift/base/operator.yaml
  operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
Labels: size/XS, release-note

#2427 restore community tasks as openshift addons
  config/crs/openshift/config/all/operator_v1alpha1_config_cr.yaml
  docs/TektonAddon.md
  docs/TektonConfig.md
  operatorhub/openshift/release-artifacts/bundle/manifests/openshift-pipelines-operator-rh.clusterserviceversion.yaml
  pkg/apis/operator/v1alpha1/const.go
  pkg/apis/operator/v1alpha1/tektonaddon_default_test.go
  pkg/apis/operator/v1alpha1/tektonconfig_default_test.go
  pkg/reconciler/openshift/tektonaddon/community_tasks.go
  pkg/reconciler/openshift/tektonaddon/const.go
  pkg/reconciler/openshift/tektonaddon/controller.go
  pkg/reconciler/openshift/tektonaddon/tektonaddon.go
  test/e2e/common/00_tektonconfigdeployment_test.go
  test/resources/tektonaddons.go
  test/resources/tektonconfigs.go
Labels: approved, lgtm, release-note, size/L

#2540 [release-v0.73.x] Update golang.org/x/net to 0.34.0
  go.mod
  go.sum
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: approved, lgtm, release-note, size/XXL, kind/security

#2541 [release-v0.74.x] Update golang.org/x/net to 0.34.0
  go.mod
  go.sum
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: approved, lgtm, release-note, size/XXL, kind/security

#2537 restore pruner sha with ghcr.io
  charts/tekton-operator/values.yaml
  config/kubernetes/base/operator.yaml
  config/openshift/base/operator.yaml
  operatorhub/kubernetes/release-artifacts/bundle/manifests/tektoncd-operator.clusterserviceversion.yaml
Labels: approved, size/XS, lgtm, release-note
