Repository tektoncd/operator, pull requests merged in 2025-06, with the labels that each got.

#2745 update list supported releases
  README.md
  tekton/release-cheat-sheet.md
Labels: approved, lgtm, size/M, release-note

#2755 transform images from envs when deploying as statefulset
  pkg/reconciler/kubernetes/tektonpipeline/transform.go
Labels: approved, size/XS, lgtm, release-note

#2769 chore(fetch): bump task‑containers tasks from v0.7.0 to v0.7.1
  hack/openshift/fetch-tektoncd-catalog-tasks.sh
Labels: approved, lgtm, size/S, release-note

#2766 feat: add recursive manifest fetching support
  pkg/reconciler/common/releases.go
  pkg/reconciler/common/releases_test.go
Labels: approved, lgtm, size/M, release-note-action-required
